*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ******* GLOBAL VALUES ******* */
.container{
  width: 80%;
  margin: 0 auto;
}

/* Remove Default Button Styles */
button {
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

:root{
  --parrallax-value:100px;
}

body{

  /* Paper Texture */
  /* background-color:#F4F4F6; */
  /* background: url("./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg"); */
  background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)),url("./images/backgroundTest1.PNG");
  background-repeat: repeat;
  width: 100vw;

  /* TODO: Remove the below code  */
  height: 950vh; 
  color:  rgb(128,128,128);

} 

/* body::before{
  content: ''; 
   position: absolute;
  width: 100vw;
  height: 100%;

  background-image: url("./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg");
  background-color: orange;
  filter: grayscale(100%);
  background-repeat: repeat;
  opacity: 0.5;

} */

.background-texture img{
  position: absolute;
  width: 100vw;
  height: 100%;

  /* background-image: url("./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg"); */
  /* background-color: orange; */
  filter: grayscale(100%);
  background-repeat: repeat;
  opacity: 0.5;

}

.logo{
    z-index: 20;
    position: absolute;
    top: 2%;
    left: 2%;
    padding: 20px;
}
.logo img{
    width: 90px;
    height: auto;
}

.header{
    /* border: brown 2px solid; */
    position: relative;
    height: 100vh;
}
.toggleNavButton .toggle-btn{
    position: fixed;
    top: 2%;
    right: 3%;
    padding: 20px;
}

.shifting-backgrounds{
  position: relative;
  overflow: hidden;
  max-height: 100%;
  z-index: -8;

  
}
.shifting-backgrounds img{

  width: 100vw;

  position: relative;

  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  max-height: 100%;
  /* opacity: 0; */
  /* transition: all 3.0s ease-in-out; */
  
} 
.imgAnimation{
  /* opacity: 1; */
  animation-fill-mode: forwards;
  animation: mymove 4s infinite ease-in-out;
  animation-delay: 0s;

}

.fade{
  opacity: 1;
}


@keyframes mymove {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
.hide  {
  animation: hide .5s;
  animation-fill-mode: both;
}
@keyframes hide {
  from {
      transform:scale(1);
      opacity:1
  }
  to {
      transform:scale(0.7);
      opacity:0
  }
}
.show  {
  animation: show .5s;
  animation-fill-mode: both;
}
@keyframes show {
  from {
      transform:scale(0.7);
      opacity:0
  }
  to {
      transform: scale(1);
      opacity:1
  }
}

/* *********************************  ABOUT ****************************/

.about-section{
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.about-section > img{
  /* margin-top: 160px; */
  height: 100%;
  width: auto;
  position:absolute;
  right:0;
}

.about-img{
  width: 37%;
}
.about-img img{
  width: 100%;
}

.about-text{
  margin-top: 60px;
  transform: translateY(var(--parralax-value));
  width: 50%;
  /* background-color: blueviolet; */
}
.horizontal-divider{
  background-color: rgb(201, 201, 201);
  width: 200px;
  height: 2px;
  border-radius: 50%;
}
.about-text h5{
  padding: 20px 20px;
  padding-top: 100px;
  font-weight: 800;
  font-size: 52px;
  font-style: italic ;
  font-style: bold;
  letter-spacing: 3.2px;
  text-decoration: rgb(128,128,128);
  line-height: 72px;


}
.about-text h3{
  padding: 10px 20px;
  font-size: 16px;
}


.parallax-scroll{
  padding: 20px;
  margin: 10px 20px;
  padding-left: 10px;
  margin-left: 10px;
  color: black;
  font-size: 12px;
  line-height: 24px;
  font-weight: 200;
}

.about-section .about-img{
  padding: 20px;
}

