*,*::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* ******* GLOBAL VALUES ******* */
.container{
  width: 80%;
  margin: 0 auto;
}

/* Remove Default Button Styles */
button {
    cursor: pointer;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

:root{
    
}

body{

    /* Paper Texture */
    /* background-image: url("./images/olga-thelavart-vS3idIiYxX0-unsplash.jpg"); */
    background-color: rgb(214, 214, 214);
    background-repeat: repeat-y;
    background-repeat: repeat-x;
    /* background-position: center; */
    /* background-size: cover; */
    width: 100vw;

    /* TODO: Remove the below code  */
    height: 950vh; 
} 

.logo{
    position: absolute;
    top: 2%;
    left: 3%;
    padding: 20px;
}
.logo img{
    width: 70px;
    height: auto;
}

.header{
    position: relative;
    height: 100vh;
}
.toggleNavButton .toggle-btn{
    position: fixed;
    top: 2%;
    right: 3%;
    padding: 20px;
}



.about-section{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.about-img{
  width: 30%;
}
.about-img img{
  width: 100%;
}

.about-text{
  width: 50%;
}
.horizontal-divider{
  background-color: rgb(201, 201, 201);
  width: 200px;
  height: 2px;
  border-radius: 50%;
}
.about-text h5{
  padding: 10px 20px;
  font-size: 36px;
  color: grey;

}


.about-section .about-text p{
  padding: 20px;
  margin: 10px 20px;
  color: brown;
}

.about-section .about-img{
  padding: 20px;
}


#standout{
  transform: translateY(20%);

}

.inside-div h5{
  font-size: 38px;
  padding: 30px;
}